<!DOCTYPE html>
<body>
    <table id="data-table" class="table">
        <thead>
            <tr>
                {% for name in data[0].keys() %}
                <th scope="col">{{ name }}</th>
                {% endfor %}    
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                {% for name in row.keys() %}
                <td>{{ row[name] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div id="table-control">
        <button id="add-row">Добавить запись</button>
        <ul id="pagination_buttons" class="pagination justify-content-end">
            {% if pages > 5  %}
            <li class="page-item disabled">
                <button class="page-link" aria-disabled="true">Предыдущая</button>
            </li>
            {% endif %}
            {% for i in range(1, pages+1)%}
                <li class="page-item"><button class="page-link paginate-button" value="{{i}}">{{i}}</button></li>
            {% endfor %}
        </ul>
    </div>        
</body>
